boto3==1.35.40
botocore==1.35.40
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
docker==7.1.0
dockerfile-parse==2.0.1
exceptiongroup==1.2.2
h5py==3.12.1
idna==3.10
iniconfig==2.0.0
jmespath==1.0.1
loguru==0.7.2
numpy==2.0.2
packaging==24.1
pluggy==1.5.0
psutil==6.0.0
pytest==8.3.3
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
s3transfer==0.10.3
six==1.16.0
tomli==2.0.2
urllib3==1.26.20
validators==0.34.0
