version: 2

jobs:
  installation:
    docker:
      - image: ersiliaos/conda:3.7
    steps:
      - checkout
      - run:
          name: Install with pip and git without developer mode
          command: |
              source activate ersilia
              pip install git+https://github.com/ersilia-os/ersilia.git
      - run:
          name: Check help
          command: |
              source activate ersilia
              ersilia --help
  test:
    docker:
      - image: ersiliaos/conda:3.7
    steps:
      - checkout
      - run:
          name: Install ersilia package in developer mode
          command: |
              source activate ersilia
              pip install -U pip setuptools
              python -m pip install -e .
      - run:
          name: Test CLI
          command: |
              source activate ersilia
              ersilia
      - run:
          name: Fetch model
          command: |
              source activate ersilia
              ersilia -v fetch eos0t01
      - run:
          name: Delete model
          command: |
              source activate ersilia
              ersilia -v delete eos0t01
      - run:
          name: Fetch molecular-weight model
          command: |
              source activate ersilia
              ersilia -v fetch molecular-weight --from_github
      - run:
          name: Test molecular weight on inputs and outputs
          command: |
              source activate ersilia
              ersilia serve molecular-weight
              ersilia api -i "CCC" > output_one_0.json
              ersilia api -i "CCC" -o output_one_1.json
              ersilia api -i "CCC" -o output_one_3.csv
              ersilia api -i test/inputs/compound_list.csv > output_list_0.json
              ersilia api -i test/inputs/compound_list.csv -o output_list_1.json
              ersilia api -i test/inputs/compound_list.csv -o output_list_2.csv
              rm output_*
      - run:
          name: Delete molecular-weight model
          command: |
              source activate ersilia
              ersilia -v delete molecular-weight
      - run:
          name: Test Python interface
          command: |
            source activate ersilia
            pip install -e .[test]
            pytest
  docs-build:
    docker:
      - image: ersiliaos/conda:3.7
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
              apt-get update
              source activate ersilia
              pip install -e .[docs]
              apt-get -y install make
      - run:
          name: Install theme
          command: |
              source activate ersilia
              pip install sphinx_rtd_theme recommonmark
      - run:
          name: Fetch documentation from Ersilia Hub
          command: |
              cd docs/scripts/
              mkdir ../source/fetched
              mkdir ../source/fetched/people
              bash fetch_from_web.sh
      - run:
          name: Build autodoc
          command: |
              source activate ersilia
              cd docs/
              mkdir source/autodoc/
              sphinx-apidoc -f -o source/autodoc/. ../ersilia
              rm source/autodoc/modules.rst
      - run:
          name: Build docs
          command: |
              source activate ersilia
              pip install -e .[docs]
              cd docs/
              make html
              touch _build/html/.nojekyll
      - persist_to_workspace:
          root: docs/_build
          paths: html
  docs-deploy:
    docker:
      - image: node:8.10.0
    steps:
      - checkout
      - attach_workspace:
          at: docs/_build
      - run:
          name: Install and configure dependencies
          command: |
            npm install -g --silent gh-pages@2.0.1
            git config user.email "miquelduranfrigola@gmail.com"
            git config user.name "miquelduranfrigola"
      - add_ssh_keys:
          fingerprints:
            - "f0:a2:92:87:c8:db:ca:c7:e7:51:74:da:13:11:0e:d5"
      - run:
          name: Deploy docs to gh-pages branch
          command: gh-pages --dotfiles --message "[skip ci] Updates" --dist docs/_build/html

workflows:
  version: 2
  build:
    jobs:
      - installation
      - test
      - docs-build:
          requires:
            - test
      - docs-deploy:
          requires:
            - docs-build
          filters:
            branches:
              only: master
