version: 2

jobs:
  test:
    docker:
      - image: ersiliaos/conda:3.7
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
              source activate ersilia
              pip install -r requirements.txt
      - run:
          name: Test
          command: |
            source activate ersilia
            pytest
  docs-build:
    docker:
      - image: ersiliaos/conda:3.7
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
              source activate ersilia
              pip install -r requirements.txt
              apt-get -y install make
      - run:
          name: Install theme
          command: |
              source activate ersilia
              pip install sphinx_rtd_theme recommonmark
      - run:
          name: Fetch documentation from Ersilia Hub
          command: |
              cd docs/scripts/
              mkdir ../source/fetched
              bash fetch_from_web.sh
      - run:
          name: Build autodoc
          command: |
              source activate ersilia
              cd docs/
              mkdir source/autodoc/
              sphinx-apidoc -f -o source/autodoc/. ../ersilia
              rm source/autodoc/modules.rst
      - run:
          name: Build docs
          command: |
              source activate ersilia
              cd docs/
              make html
              touch _build/html/.nojekyll
      - persist_to_workspace:
          root: docs/_build
          paths: html
  docs-deploy:
    docker:
      - image: node:8.10.0
    steps:
      - checkout
      - attach_workspace:
          at: docs/_build
      - run:
          name: Install and configure dependencies
          command: |
            npm install -g --silent gh-pages@2.0.1
            git config user.email "miquelduranfrigola@gmail.com"
            git config user.name "miquelduranfrigola"
      - run:
          name: Deploy docs to gh-pages branch
          command: gh-pages --dist docs/_build/html
      - add_ssh_keys:
          fingerprints:
            - "f0:a2:92:87:c8:db:ca:c7:e7:51:74:da:13:11:0e:d5"
      - run:
          name: Deploy docs to gh-pages branch
          command: gh-pages --dotfiles --message "[skip ci] Updates" --dist docs/_build/html

workflows:
  version: 2
  build:
    jobs:
      - test
      - docs-build
      - docs-deploy:
          requires:
            - test
            - docs-build
          filters:
            branches:
              only: master
