ersilia.setup.requirements package
==================================

Submodules
----------

ersilia.setup.requirements.rdkit module
---------------------------------------

.. automodule:: ersilia.setup.requirements.rdkit
    :members:
    :undoc-members:
    :show-inheritance:


Module contents
---------------

.. automodule:: ersilia.setup.requirements
    :members:
    :undoc-members:
    :show-inheritance:
