ersilia.setup.requirements package
==================================

Submodules
----------

ersilia.setup.requirements.compound module
------------------------------------------

.. automodule:: ersilia.setup.requirements.compound
    :members:
    :undoc-members:
    :show-inheritance:

ersilia.setup.requirements.conda module
---------------------------------------

.. automodule:: ersilia.setup.requirements.conda
    :members:
    :undoc-members:
    :show-inheritance:

ersilia.setup.requirements.docker module
----------------------------------------

.. automodule:: ersilia.setup.requirements.docker
    :members:
    :undoc-members:
    :show-inheritance:

ersilia.setup.requirements.git module
-------------------------------------

.. automodule:: ersilia.setup.requirements.git
    :members:
    :undoc-members:
    :show-inheritance:

ersilia.setup.requirements.isaura module
----------------------------------------

.. automodule:: ersilia.setup.requirements.isaura
    :members:
    :undoc-members:
    :show-inheritance:

ersilia.setup.requirements.ping module
--------------------------------------

.. automodule:: ersilia.setup.requirements.ping
    :members:
    :undoc-members:
    :show-inheritance:


Module contents
---------------

.. automodule:: ersilia.setup.requirements
    :members:
    :undoc-members:
    :show-inheritance:
