name: Approve Command Trigger
on:
  issue_comment:
    types: [created]
jobs:
  approve-command-trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Approve Command Trigger
        if: contains(github.event.issue.labels.*.name, 'Model Request')
        uses: peter-evans/slash-command-dispatch@13bc09769d122a64f75aa5037256f6f2d78be8c4 # pin@v4.0.0
        with:
          token: ${{ secrets.PAT }}
          issue-type: issue
          permission: write
          reactions: false
          commands: |
            approve
