name: json syntax check

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read
  pull-requests: write # required to leave comments on pull requests

jobs:
  json-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2 # pin@v3.5.3

      - name: json syntax check
        uses: GrantBirki/json-yaml-validate@250fa0dc7d7f4a888b24dc2a6b2ff589753fba70 # pin@v3.3.2
        with:
          exclude_file: ".github/config/exclude.txt" # .gitignore style file for exclusions
          comment: "true" # allow PR comments with error messages
