name: Ersilia model output prediction (Manual)
on:  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      model_id:
        description: Model ID
        required: true
        type: string

permissions:
  contents: read

env:
  MODEL_ID: ${{ github.event.inputs.model_id }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # pin@v3.5.3

      - name: Add conda to system path
        run: echo $CONDA/bin >> $GITHUB_PATH

      - name: Source conda
        run: source $CONDA/etc/profile.d/conda.sh

      - name: Set Python to 3.10.10
        run:
         conda install -y python=3.10.10

      - name: Install dependencies
        run: |
          source activate
          conda init
          conda install git-lfs -c conda-forge
          git-lfs install
          conda install gh -c conda-forge

      - name: Install ersilia
        run: |
          source activate
          python --version
          echo "After conda init"
          conda init
          python -m pip install -e .[test]

      - name: Predict output
        run: |
          source activate
          echo "Sample model id selected: $MODEL_ID"
          ersilia fetch $MODEL_ID
          ersilia serve $MODEL_ID
          echo "$MODEL_ID succesfully fetched and served"
          ersilia sample -n 100 -f input.csv
          ersilia api -i input.csv -o output.csv
          ersilia close
